[Bb]in/
[Oo]bj/

.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

.idea/
*.sln.iml

_ReSharper*/
*.[Rr]esharper
*.DotSettings.user

*.log
TestResults/

secrets.json
appsettings.Development.json

*.nupkg
[Pp]ackages/

*.swp
*~